/* CSS Document */
.cuerpo{	
	background-image:url(../imagenes/nube3.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: bottom right;
	padding-top: 8px;	
}


.logueo{
	width: 310px;
	margin-left: auto;
	margin-right: auto;
}

.logueo label{
	width: 100px;
	display: block;	
	float:left;
}

.datos1{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.datos1 label{
	width: 100px;
	display: block;	
	float:left;
}

.datos2{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.datos2 label{
	width: 100px;
	display: block;	
	float:left;
}

.datos3{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.datos3 label{
	width: 150px;
	display: block;	
	float:left;
}
/* Agregadas por mc */
.btn-custom{
	background:none !important;
	border: none !important;
	margin-top: 0.3rem !important;
	
}